:root {
    --vino: #612237;
    --vino-oscuro: #5a152a;
    --marfil: #f7f4ed;
}

h2 {
    color: #7b3f00;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.card {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card i {
    font-size: 2.5px;
    margin-bottom: 0.5px;
}

#valores h6 {
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#valores p {
    font-size: 0.9rem;
    color: #6b4a3f;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section-nosotros {
    position: relative;
    background-image: linear-gradient(rgba(97, 34, 55, 0.7), rgba(97, 34, 55, 0.7)),
    url('https://wallpapers.com/images/featured/bar-c5vakob55hk4alvi.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--marfil);
    padding: 100px 20px;
    text-align: center;
}

.section-nosotros p {
    font-size: 1.25rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}